*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*----MAIN----*/

.main-content {
    height: 100vh;
    background:linear-gradient(rgba(20, 18, 18, 0.7), rgba(0, 0, 0, 0.7)), url(FAMILY\ MAIN.jpg) no-repeat 100% 100%;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding: 0 1%;
}

.content {
    position:absolute;
    font-weight: lighter;
    left: 50%;
    top: 45%;
    width: 30%;
    max-width: 400px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    color: white;
    padding-bottom: 15px;
}

.content h2 {
    font-size: 20px;
    letter-spacing: 3px;
    color: white;
    padding-top:15px;
    padding-bottom: 15px;
    font-weight: 100;

}

.icon-list {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 40px;
}

.icon {
    width: 80px;
    height: 80px;
    background: rgba(255, 255, 255, 0.15);
    margin: 0 10px;
    font-size: 12px;
    box-sizing: border-box;
}

.icon:hover {
    box-shadow: 0 0 20px 0px rgba(250, 248, 248, 0.822);
}

.icon p {
    color: white;
    padding-top: 5px;
    font-weight: 200;
}

/*----ABOUT----*/

.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #1b1b1b;
    
}

.about img {
    height: 250px;
    width: 450px;
    margin-right: 150px;
    margin-top: 20px;
    
}

.family {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color:white;
    font-size: 75px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    margin-bottom: 20px;
}

.about-text h5 {
    color: antiquewhite;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    font-weight: 3px;
    text-align: left;
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}


.btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.btn:hover {
    border: 1px solid #1b1b1b;
    background: rgb(12, 9, 5);
    transition: 1s;
}

/*----NAV----*/

nav{
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
  padding-top: 20px;
}
nav ul{
  float: right;
  padding-top: 20px;
  margin-right: 100px;
  list-style: none;
  position: relative;
}
nav ul li{
  float: left;
  display: inline-block;
  margin: 0 5px;
}
nav ul li a {
    color:white;
    font-weight: 300;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 20px;
    position: relative;
}

nav ul li a::after {
    content: '';
    background: white;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}

nav ul li a:hover::after {
    width: 100%;
    transition: width 0.5s;

}
nav ul li a:hover{
  color: white;
}
nav ul ul li a:hover{
  box-shadow: none;
}
nav ul ul{
  position: absolute;
  top: 90px;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul li{
  position: relative;
  top: -60px;
  left: 150px;
}
.show,.boxes,input{
  display: none;
}
.fa-plus{
  font-size: 15px;
  margin-left: 40px;
}

/*----FA----*/

.fa-arrow-pointer {
    margin-left: 10px;
}


.fa-arrow-right {
    margin-top: 3px;
    margin-left: 40px;
    font-size: 15px;
}

.fa-angle-down {
    margin-left: 7px;
    font-size: 15px;

}

.fa-user {
    font-size: 20px;
    color: #fff;
    padding-top: 25px;
}

.fa-star-of-life {
    font-size: 20px;
    color: #fff;
    padding-top: 25px;
}

.fa-puzzle-piece {
    font-size: 20px;
    color: #fff;
    padding-top: 25px;
}

.fa-link {
    font-size: 20px;
    color: #fff;
    padding-top: 25px;
}

.fa-arrow-up {
    border: 1px solid white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 200px;
    margin-bottom: 50px;
}

.fa-envelop {
    font-size: 30px;
    margin-bottom: 50px;
}



/*LINE*/

.line1 {
    width: 150px;
    height: 1px;
    background: white;
    margin: 10px auto;
}

.line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

}

.line::before, .line::after {
    content: "";
    height: 1px;
    background-color: #fff;
    display: block;
}


.line2 {
    width: 100%;
    height: 45px;
    position: relative;
    right: 100px;
    top: 10px;
}

.line2::after, .line2::before {
    content: "";
    position: absolute;
    margin: auto;
    height: 1px;
    background: white;
    width: 20%;
    top: 45%;
}

.line2::after {
    left: 30%;

}

.line2::before {
    right: 20%;
    
}

.line3::after, .line3::before {
    content: "";
    position: absolute;
    margin: auto;
    height: 1px;
    background: white;
    width: 20%;
    top: 20%;
}

.line3::after {
    left: 20%;

}

.line3::before {
    right: 20%;
    
}

/*--FAMILY--*/

.main{
	width: 100%;
	height: auto;
	background: #1b1b1b;
	font-family: 'Poppins', sans-serif;
	padding: 50px 0;
	display: grid;
	place-items: center;
}
.main h3 {
	font-size: 27px;
	font-weight: 500;
	color: white;
	position: relative;
}

.main h2 {
    font-size: 25px;
    color: white;
    padding-top:25px;
    padding-bottom: 15px;
    font-weight:400;
    position: relative;
    letter-spacing: 5px;
}

.main h1 {
    font-size: 35px;
    color: white;
    margin-top: 100px;
    font-weight:400;
    letter-spacing: 5px;

}






/*-CONTAINERS-*/

.container {
    width: 30%;
    height: auto;
    position: relative;
    margin-top: 50px;
}

.container::after {
    position: absolute;
    content: ' ';
    width: 2px;
    height: 1900px;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(34, 33, 33, 0.6));
}

.container ul {
    list-style: none;
}

.container ul li {
    width: 50%;
    height: 27vh;
    padding: 15px 20px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.384);
    border-radius: 10px;
    margin-bottom: 30px;
    z-index: 99;
    position: relative;
}


.container ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    text-align: center;
}

.container ul li:nth-child(odd) .date {
    right: 20px;
}

.container ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    text-align: center;
}

.container ul li:nth-child(4) {
    margin-bottom: 0;
}

.container ul li .title {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
}

ul {
    font-weight: 200;
}


ul li p {
    font-size: 15px;
    color: white;
    margin: 7px 0;
    line-height: 23px;
}

ul li a {
    font-size: 13px;
    color: white;
    text-decoration: none;
}


ul li .date {
    position: absolute;
    top: 32%;
    left: 65px;
    width: 150px;
    height: 150px;
    border-radius: 2000px;
    color: #fff;
    background:linear-gradient(rgba(20, 18, 18, 0.5), rgba(0, 0, 0, 0.5)), url(pops.png);
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    font-size: 15px;
}

ul li .date2 {
    position: absolute;
    top: 85px;
    left: 65px;
    width: 150px;
    height: 150px;
    border-radius: 2000px;
    color: #fff;
    background:linear-gradient(rgba(20, 18, 18, 0.5), rgba(0, 0, 0, 0.5)), url(papa.png);
    background-size: cover;
    display: grid;
    place-items: center;
    font-size: 15px;
}

ul li .date3 {
    position: absolute;
    top: 32%;
    left: 65px;
    width: 150px;
    height: 150px;
    border-radius: 2000px;
    color: #fff;
    background:linear-gradient(rgba(20, 18, 18, 0.5), rgba(0, 0, 0, 0.5)), url(mam.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    font-size: 15px;
}

ul li .date4 {
    position: absolute;
    top: 85px;
    left: 65px;
    width: 150px;
    height: 150px;
    border-radius: 2000px;
    color: #fff;
    background:linear-gradient(rgba(20, 18, 18, 0.5), rgba(0, 0, 0, 0.5)), url(mamm.png);
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
    font-size: 15px;
}

ul li .date5 {
    position: absolute;
    top: 32%;
    left: 65px;
    width: 150px;
    height: 150px;
    border-radius: 2000px;
    color: #fff;
    background:linear-gradient(rgba(20, 18, 18, 0.5), rgba(0, 0, 0, 0.5)), url(dadd.png);
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
    font-size: 15px;
}

ul li .date6 {
    position: absolute;
    top: 85px;
    left: 65px;
    width: 150px;
    height: 150px;
    border-radius: 2000px;
    color: #fff;
    background:linear-gradient(rgba(20, 18, 18, 0.5), rgba(0, 0, 0, 0.5)), url(brod.png);
    background-size: cover;
    display: grid;
    place-items: center;
    font-size: 15px;
}

ul li .date7 {
    position: absolute;
    top: 32%;
    left: 65px;
    width: 150px;
    height: 150px;
    border-radius: 2000px;
    color: #fff;
    background:linear-gradient(rgba(20, 18, 18, 0.5), rgba(0, 0, 0, 0.5)), url(Q2.png);
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    font-size: 15px;
}

.container ul li .circle {
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    position:absolute;
    top: 0;
}

.container ul li .circle::after {
    content: ' ';
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container ul li:nth-child(odd) .circle {
    right: -30px;
    transform: translate(50%, -50%);

}

.container ul li:nth-child(even) .circle {
    left: -30px;
    transform: translate(-50%, -50%);

}

/*---FAM PIC---*/

.life {
    width: 100%;
    height: 150vh;
    margin: auto;
    background: #1b1b1b;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 100px;
}


.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    margin-top: 100px;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    margin-bottom: 150px;
}



.card {
    height: 300px;
    width: 400px;
    padding: 20px 35px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
}

.card:hover {
    box-shadow: 0 0 20px 0px rgba(250, 248, 248, 0.822);
}

.card1 {
    background: url(FAM-OUT1.jpg);
    background-size: cover;
    background-position: center;
}

.card2 {
    background: url(FAM-BROS.jpg);
    background-size: cover;
    background-position: center;
}

.card3 {
    background: url(FAM-OUT.jpg);
    background-size: cover;
    background-position: center;
}

.card4 {
    background: url(FAM-GRAD2.jpg);
    background-size: cover;
    background-position: center;
}

.card5 {
    background: url(FAM-GRAD.jpg);
    background-size: cover;
    background-position: center;
}

.card6 {
    background: url(FAM-OUTING.jpg);
    background-size: cover;
    background-position: center;
}

.card7 {
    background: url(mememe.jpg);
    background-size: cover;
    background-position: center;
}

.card8 {
    background: url(family.jpg);
    background-size: cover;
    background-position: center;
}

.card9 {
    background: url(friend.png);
    background-size: cover;
    background-position: center;
}

.card10 {
    background: url(games.png);
    background-size: cover;
    background-position: center;
}

.card11 {
    background: url(music.jpg);
    background-size: cover;
    background-position: center;
}

.card12 {
    background: url(movie.jpg);
    background-size: cover;
    background-position: center;
}


.life h1 {
    color: white;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: capitalize;
    margin-top: 20px;
    letter-spacing: 5px;
}

.line1 {
    width: 150px;
    height: 1px;
    background: white;
    margin: 10px auto;
}

.line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

}

.line::before, .line::after {
    content: "";
    height: 1px;
    background-color: #fff;
    display: block;
}

.life h5 {
    color:white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    margin-top: 20px;
}

.life h6 {
    color:white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    margin-top: 20px;
}

.life h2 {
    color:white;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: capitalize;
    margin-top: 20px;
    letter-spacing: 10px;
}

a {
    color:white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    padding-top: 20px;
    text-decoration: none;
}

/*---FOOTER---*/

footer {
    position: relative;
    width: 100%;
    height: 300px;
    background:linear-gradient(rgba(20, 18, 18, 0.7), rgba(0, 0, 0, 0.7)), url(genshin.jpg) no-repeat 100% 100%;
    background-attachment: fixed;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: white;
    margin-bottom: 20px;
    font-weight: 200;
}

footer p:nth-child(2) {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 15px;
    width: 500px;
    text-align: center;
    line-height: 26px;
    font-weight: 200;
}

.social {
    display: flex;
}

.social a {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;

}

.social a:hover {
    transform: scale(1.3);
    transition: .3s;
}

.end {
    font-family: 'Poppins', sans-serif;
    font-weight: 5px;
    position: absolute;
    color: white;
    bottom: 10px;
    font-size: 10px;
    padding-bottom: 10px;
}







